.navbar {
  background-color: #16110e;
  color: whitesmoke;
  height: 70px;
  display: flex;
  margin-bottom: 5%;
}

.navbar-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 24px;
  margin: 0;
  padding-left: 5%;
}